.BlogPosts {
  background-color: #282c34;
}

a {
  text-decoration: none; /* Remove underline */
  color: rgba(18, 199, 209, 0.4); /* color of the thumb when hovered */
}

h1 {
  color: rgba(160, 200, 240, 1);
}

.BlogList {
  margin: 0;
  padding: 0;
  text-align: left;
}

.BlogEntrie {
  border-radius: 10px;
  overflow: auto;
}

.PostEntryImage {
  width: 300px;
  height: 300px;
  border: 5px solid lightblue;
  border-radius: 10%;
}
