.BlogPosts {
  background-color: #282c34;
}

.BlogEntrie {
  border-radius: 10px;
  position: relative;
}

.PostEntryImage {
  width: 230px;
  height: 230px;
  border: 5px solid lightblue;
  border-radius: 10%;
}

.BlogPosts-smaller-panel {
  padding: 30px;
  border-radius: 20px;
  box-shadow: 3px 3px 10px 10px rgba(0, 0, 0, 0.1);
  margin: 20px;

  background: -webkit-linear-gradient(
    bottom,
    rgba(240, 240, 240, 0.1),
    rgba(240, 240, 240, 0.1) 20vh,
    rgba(0, 20, 80, 0.2) 20vh,
    rgba(0, 20, 80, 0.2)
  );
}
