/* Add a black background color to the top navigation */
.topnav {
  position: fixed;
  display: flex;
  top: 0;
  left: 0%;
  right: 0%;
  width: 100%;
  z-index: 100;
  padding: 5px;
  font-size: 25px;
  justify-content: center;
  background-color: #01121897;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.topnav a {
  /* text-align: center; */
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 20px;
  color: rgba(251, 251, 251, 0.921);
  /* padding: 20px; */
}

/* .topnav a:hover {
  color: rgb(132, 196, 242);
} */
