.topnav {
  position: fixed;
  display: flex;
  top: 0;
  left: 0%;
  right: 0%;
  width: 100%;
  z-index: 100;
  font-size: 32px;
  padding: 16px;
  justify-content: center;
  background-color: rgba(5, 10, 50, 0.7);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.topnav a {
  padding: 14px;
  text-decoration: none;
  border-radius: 20px;
  color: rgba(251, 251, 251, 0.921);
}

.topnav a:hover {
  color: lightgreen;
}

.sepTopNav {
  width: 100%;
}
