@keyframes fade-in-background {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.SquarePanel {
    position: relative;
    min-width: 170vh;
    padding: 1%;
    margin: 2%;
    /* margin-top: 1.2%; */
    border-radius: 20px;
    display: flex;
    justify-content: center;
    /* background-color: rgba(29, 154, 192, 0.233); */
    background-image: url('./pattern.png');
    background-size: 100% 100%;
    animation: fade-in-background 2s ease;
    font-size: 30px;
    box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.195);
}

.title {
    color: #ffffffc2;
    padding: 3%;
    margin: 3%;
    font-size: 50px;
}

.smaller-panel {
    background-color: rgba(32, 135, 191, 0.452);
    /* background-image: url('./patternSmall.png'); */
    background-size: 100% 100%;
    border-radius: 20px;
    /* width: 100%; */
    box-shadow: 3px 3px 10px 10px rgba(0, 0, 0, 0.195);
    /* padding: 4%;
    margin-top: 10%;
    margin-bottom: 10%; */
}

.iconic {
    position: absolute;
    top: 30%;
    left: 42%;
    opacity: 1;
    transform: translate(-50%, -50%);
    z-index: 1;
    /* Ensure it appears on top of other content */
    width: 200px;
    /* Adjust the width as needed for the circle size */
    height: 200px;
    /* Adjust the height to match the width for a perfect circle */
    border-radius: 50%;
    /* Create a circle shape */
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    background-image: url('icon.png');
    background-size: 100% 100%;
    justify-content: center;
    font-size: 24px;
    /* Adjust the font size as needed */
}

.show-p{
    color: rgba(240, 248, 255, 0);
}