@keyframes fade-in-background {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.MidPanel {
    width: 90%;
    justify-content: center;
    animation: fade-in-background 2s ease;
    font-size: 30px;
}

.small-mid-panel {
    background-color: rgba(58, 144, 193, 0.669);
    background-image: url('pattern.png');
    background-size: 100% 100%;
    border-radius: 20px;
    box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.195);
}

.inside-panel {
    background-color: rgba(32, 135, 191, 0.452);
    border-radius: 20px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 1%;
    box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.195);
}

.show-p{
    color: rgba(240, 248, 255, 0);
}