.App {
  text-align: center;
  overflow: hidden;
}

.App-header {
  background-color: #000823;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(5px + 3vmin);
  color: white;
}

h1 {
  color: rgba(160, 200, 240, 1);
}

h2 {
  color: rgba(160, 200, 240, 1);
}

h3 {
  color: rgba(160, 200, 240, 1);
}

a {
  text-decoration: none; /* Remove underline */
  color: rgba(18, 199, 209, 0.4); /* color of the thumb when hovered */
}

p {
  margin: 5px;
}

b {
  color: lightgreen;
}

/* WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  background-color: #000823; /* color of the thumb */
  width: 3px;
  z-index: -1;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(80, 80, 200, 1); /* color of the thumb */
  border-radius: 10px;
}

::-webkit-scrollbar:hover {
  background-color: white; /* color of the thumb when hovered */
}
