.App {
  text-align: center;
  overflow: hidden;
}

.App-header {
  overflow: hidden;
  background-color: #000823;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(5px + 3vmin);
  color: white;
}

h1 {
  color: rgba(160, 200, 240, 1);
}

h2 {
  color: rgba(160, 200, 240, 1);
}

h3 {
  color: rgba(160, 200, 240, 1);
}

a {
  text-decoration: none; /* Remove underline */
  color: rgba(18, 199, 209, 0.4); /* color of the thumb when hovered */
}

p {
  margin: 5px;
}

b {
  color: lightgreen;
}

@-moz-document url-prefix() {
  html {
    scrollbar-width: thin;
    scrollbar-color: lightblue rgba(0, 10, 100, 1);
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::-webkit-scrollbar {
    display: none;
  }
}
