.bottomNav {
  padding-top: 34px;
  padding-bottom: 24px;
  width: 100vw;
  font-size: 2ch;
  background-color: rgba(5, 20, 60, 0.5);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

.bottomNav a {
  min-height: 60px;
  padding: 0px 16px 0px 16px;
  text-decoration: none;
  border-radius: 20px;
  color: rgba(251, 251, 251, 0.921);
}
